@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
@media (max-width: 375px) and (max-height: 667px){
body {
    font-size: 14px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p {
    font-weight: 700;
    color: #adadad;
    padding-right: 20px;
}

.container {
    height: 627px;
    width: 345px;
    border-radius: 10px;
    flex-direction: column;
    border-style: none;
    margin: 15px 10px;
}

.webimage {
    display: none;
}

.imagebox {
    display: block;
    width: 345px;
    height: 250px;
    margin: 0px;
    justify-self: center;
    border-radius: 10px 10px 0px 0px;
}

.description {
    width: 325px;
    height: 382px;
    border-radius: 0px 0px 15px 15px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: -20px;
    background-color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 32px;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

h3 {
    color: #afafaf;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: -10px;
    letter-spacing: 2.5px;
}

.pricing {
    margin: 0px;
    display: flex;
}

.discount {
    font-size: 36px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.price {
    font-size: 16px;
    padding-left: 20px;
    text-decoration: line-through;
    color: #afafaf;
    font-weight: 500;
    line-height: 45px;
}

.button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    width: 305px;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    border-style: solid;
    border-width: 0px;
}
}
@media (max-width: 1440px) and (max-height: 657px){
body {
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

p {
    font-weight: 500;
    font-size: 14px;
    color: #afafaf;
    padding-right: 20px;
}

h1 {
    font-size: 32px;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    color: #afafaf;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: -20px;
    letter-spacing: 3.5px;
}

.pricing {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.discount {
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.price {
    font-size: 14px;
    text-decoration: line-through;
    color: #c0c0c0;
    padding-left: 20px;
    line-height: 45px;
    float: right;
    font-weight: 500;
}

.container {
    margin: 10%;
    flex-direction: row;
    width: 540px;
    height: 500px;
    border-style: none;
    border-radius: 10px;
}

.imagebox {
    display: none;
}

.webimage {
    display: flex;
    max-width: 250px;
    max-height: 500px;
    justify-self: center;
    float: left;
    margin: 0px;
    border-radius: 10px 0px 0px 10px;
}

.description {
    max-height: 500px;
    max-width: 250px;
    margin: 0px;
    float: right;
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
}

.button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    width: 250px;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 17px;
    cursor: pointer;
    border-style: solid;
    border-width: 0px;
}
hover:button {
    background-color: background-color: hsl(158, 89%, 14%);
;
}
